html {
    
    margin: auto;
}
.body {
    background-color: rgb(12, 47, 12);
    color: rgb(231, 253, 236);
    
}
h1{
    display: grid;
    justify-items: center;
}
.btns{
    display:flex;
    justify-content: center;
}

#btn{
    margin-right: 1em;
}

li{
    font-size: 1.5em;
    margin-top: 1em;
}